<?xml version="1.0" encoding="UTF-8"?>

<?include "Variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductLongName)" Language="1033"
         Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)">

    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Installation Parts -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsFolder">
        <Component Id="ProductComponent" Guid="{6A22850B-12D5-44BD-8647-74D4F7581FA2}">
          <File Id='CityIndex.scr' Name='CityIndex.scr'
                Source='..\CityIndexScreensaver\Bin\Release\CityIndex.scr' Vital='yes' />
          <File Id='CIAPI.dll' Name='CIAPI.dll'
                Source='..\CityIndexScreensaver\Bin\Release\CIAPI.dll' Vital='yes' />
          <File Id='CityIndex.JsonClient.dll' Name='CityIndex.JsonClient.dll'
                Source='..\CityIndexScreensaver\Bin\Release\CityIndex.JsonClient.dll' Vital='yes' />
          <File Id='Common.Logging.dll' Name='Common.Logging.dll'
                Source='..\CityIndexScreensaver\Bin\Release\Common.Logging.dll' Vital='yes' />
          <File Id='Newtonsoft.Json.dll' Name='Newtonsoft.Json.dll'
                Source='..\CityIndexScreensaver\Bin\Release\Newtonsoft.Json.dll' Vital='yes' />
          <File Id='StreamingClient.dll' Name='StreamingClient.dll'
                Source='..\CityIndexScreensaver\Bin\Release\StreamingClient.dll' Vital='yes' />
          <File Id='StreamingClient.Lightstreamer.dll' Name='StreamingClient.Lightstreamer.dll'
                Source='..\CityIndexScreensaver\Bin\Release\StreamingClient.Lightstreamer.dll' Vital='yes' />
        </Component>
      </Directory>
      <Directory Id="SystemFolder" />
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ProductShortName)" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <!-- Prerequisites -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <!-- Custom Actions -->
    <CustomAction Id="RunDialog" Directory="SystemFolder" ExeCommand="control.exe desk.cpl,,@screensaver"
                  Return="asyncNoWait"/>

    <UIRef Id="WixUI_Common" />
    <!--<WixVariable Id="WixUIBannerBmp"  Value="$(sys.SOURCEFILEDIR)\..\Common\LogoLabs.bmp" />-->

    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="PseudoHyperlinkStyle" FaceName="Tahoma" Size="8" Underline="yes"/>

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <!-- No "change features" button -->
      <Property Id="ARPNOMODIFY" Value="1" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeEulaDlg" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="ExitDialog">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction"
               Value="RunDialog" Order="1">NOT Installed</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
    </UI>
  </Product>
</Wix>
